python-dotenv
dotenv
pandas
numpy==1.23.5
pymongo[srv]==4.3.3
certifi
scikit-learn==1.2.2
dill
pyaml
PyYAML
joblib
scipy==1.10.1
threadpoolctl
xgboost==1.7.6
category_encoders
fastapi==0.100.0
pydantic==1.10.9
python-dateutil
pytz
tzdata
statsmodels==0.13.5
patsy
typing-extensions
typing-inspection
annotated-types
pydantic-core
anyio
starlette
sniffio
exceptiongroup
idna
uvicorn==0.22.0
jinja2
python-multipart
setuptools>=65.5.0
wheel