python-dotenv
dotenv
pandas
numpy>=1.23.0
pymongo[srv]>=4.3
certifi
scikit-learn
dill
pyaml
PyYAML
joblib
scipy
threadpoolctl
xgboost
category_encoders
fastapi
pydantic
python-dateutil
pytz
tzdata
statsmodels
patsy
typing-extensions
typing-inspection
annotated-types
pydantic-core
anyio
starlette
sniffio
exceptiongroup
idna